.grid-cells {
    background: #e9e4e4;
    flex: 1;

}

.horizontal-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

#grid-container {
    display: flex;
    width: 800px;
    height: 800px;
    flex: 1;
    gap: 1px;
    padding: 10px;

}

.grid-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1px;
}