.grid-cells {
    background: blueviolet;
    height: 64px;
    width: 64px;
    margin: 2px;
    
    
    

}

#grid-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .grid-column {
    
} */