.grid-cells {
    background: rgb(189, 187, 187);
    flex: 1;

}

#grid-container {
    display: flex;
    width: 960px;
    height: 960px;
    flex: 1;
    gap: 2px;
    padding: 20px;

}

.grid-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px;
}