.grid-cells {
    background: blueviolet;
    height: 200px;
    width: 200px;
    margin: 25px;
    
    
    

}

#grid-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.grid-column {
    
}